extends ../layout

block content
    div(data-load="comments/comments" data-video-id=videoId)
    link(rel='stylesheet' href='/stylesheets/youtube.css')
    .row
        .col-8.offset-2.mb-2
            form.form-inline(action="/comments" method="get")
                input.form-control.mr-4(id="video_url" name="video_url" type='text', placeholder='Enter another YouTube video URL' size=45)
                button.btn.btn-primary(type='submit') Fetch comments!
    hr
    .row
        .col-8.offset-2.mt-2
            .text-center
                h5 comments for
                h4(data-is="video-label")
        .col-2
                img(data-is="video-thumbnail" width="120" height="90")

    .row
        .col-12.mt-5
            .text-center
                img(data-is="spinner" src="images/spinner2.gif" alt="Loading" height="36" width="36")
            #comment-section-renderer.yt-comments(data-is="comments-placeholder")

    .row
        .col-12.mt-3.text-center
            a.btn.btn-primary.text-center.invisible(href="#" data-is="next-page-link" data-next-page-token) Fetch more
            div.invisible.text-success(data-is="all-comments-fetched-text")
                hr
                | All comments fetched.
