extends ../layout

block content
    div(data-load="comments/comments")

    link(rel='stylesheet' href='/stylesheets/youtube.css')

    #comment-section-renderer.yt-comments(data-is="comments-placeholder")

    a(href="#" data-is="next-page-link" data-next-page-token) Fetch next 500
