extends layout

block content
    if notice
        block notice
    .row
        .col-12
            section
                | For now
                |
                span.logo-text YTHelper
                |
                | supports only fast comments fetching. Try it!
    .row
        .col-12.pt-3
            form.form-inline(action="/comments" method="get")
                input.form-control(autofocus="true" name="video_url" type='text', placeholder='Enter YouTube video URL' size=45)
                button.btn.btn-primary.mt-3.ml-md-4.mt-md-0(type='submit') Fetch comments!
