extends layout

block content
    .row
        .col-12.pt-5
            .text-center
                div.mb-5 To continue, please sign in.
                a.btn.btn-brand(href=authorizationUrl, role='button') Sign in with YouTube
