extends layout

block content
    h1 Welcome to
        |
        |
        span.logo-text YTHelper
        | !

    .row
        .col-12.pt-5
            a.btn.btn-brand.btn-lg(href=authorizationUrl, role='button') Sign in with YouTube
