extends layout

block content
  h1 Welcome to
    span.logo-text YTHelper!

  .row
    .col-12.p-4
      | This service was built for KG as a thank you for countless hours spent with his great content.

  .row
    .col-12.p-4.text-center
      a.btn.btn-brand.btn-lg(href=authorizationUrl, role='button') Sign in with YouTube
