.btn-brand {
  background-color: #00b392;
  border-color: #00b392;
  color: white;
}

.btn-brand:hover {
  background-color: #008066;
  border-color: #008066;
  color: white;
}

.container {
  min-height: 500px;
}

.logo-text {
  color: #00b392 !important;
}

.replies-placeholder {
  font-size: smaller !important;
}